body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    color: #fff;
    background-color: #191414;
    display: flex;
    width: 90%;
    margin: 2rem auto;
    justify-content: space-between;
    height: 88vh;
    font-weight: 700;
}

.home {
    display: flex;
    flex-direction: column;
}

.home_text {
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-indent: 1rem;
}

.image {
    filter: invert(1);
    width: 9%;
    margin-right: 1.3rem;
    margin-left: 0.5rem;
}

.navigation {

    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2.5vh;

}

.container {
    height: 81%;
    font-size: 90%;

}

.home {
    height: 16%;
    display: flex;
    justify-content: space-evenly;
    font-size: 75%;
}


p {
    text-indent: 2rem;
}


.container, .content {
    background: #272323;
    border-radius: 10px;

}


.individualItems {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    justify-content: space-evenly;
}

.playlistImage {
    width: 18%;

}

.playlistName {
    width: 65%;
    font-size: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.author {
    font-size: 65%;
    color: #e3e3e3;
    font-weight: 400;
}

.content {
    block-size: fit-content;
    background: linear-gradient(0deg, rgba(39, 35, 35, 1) 0%, rgba(39, 35, 35, 1) 60%, rgba(54, 49, 49, 1) 100%);
    font-size: 175%;
    width: 70%;

}

.badgeContainer{
    display: flex;
    width: 95%;
    margin: auto;
}

.badge {
    background-color: #1DB954;
    width: fit-content;
    border-radius: 35px;
    padding: 0 1rem;
    margin: 0 0.5rem;
}

.badge p{
    font-size: 0.75rem;
    text-indent: 0 !important;
}

.profile {
    display: flex;
    justify-content: space-between;
    filter: invert(1);
}

.profile-image {
    height: 2rem;
    padding: 2rem 2rem 0 0;

}

.profile p {
    color: #000;
    font-size: 2rem;
}

.search input[type=text] {
    width: 59vw;
    height: 5vh;
    border-radius: 50px;
    border: none;
    background-color: #535353;
    color: #B3B3B3;
    font-weight: 700;
    font-size: 90%;
    margin: 1rem 1rem 1rem 1.75rem;

}


input[type=text] {
    text-indent: 1.5rem;
}


.genres {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.genre-container {
    height: 60%;
}

.single-genre {
    width: 44%;
    height: 8rem;
    margin: 1rem;
    background: #363131;
    border-radius: 10px;
    display: flex;
    align-items: center;


}

.genre-image {
    width: 8rem;
    margin-bottom: -0.6rem;


}

.genre-image-class {
    border-radius: 10px;
}

.genre-text {
    text-indent: 2rem;
}

.give_me_playlist {
    height: 13%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    background-color: #1DB954; /* Green */
    border-radius: 50px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
    height: 50%;
    padding: 15px 33px;
    margin-right: 2.5rem;
    margin-bottom: 2.5rem;
    text-decoration: none;
}